<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
</head>

<body>
    <div class="bg-image"></div>
    <a class="chat-btn" href="{{ url_for('Chat') }}">chat</a>
    <a class="logout-btn"href="{{ url_for('logout') }}">Logout</a>
    
    <main>
        <div class="dashboard-items">
            <div class="dashboard-item">
                <h2>HOD Dashboard</h2>
                <p>View and manage HOD related tasks</p>
                <a href="{{ url_for('hod_dashboard') }}">Go to HOD Dashboard</a>
            </div>
            <div class="dashboard-item">
                <h2>Staff Dashboard</h2>
                <p>View and manage Staff related tasks</p>
                <a href="{{ url_for('staff_dashboard') }}">Go to Staff Dashboard</a>
            </div>
        </div>
    </main>
</body>
</html>
